# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
build/
dist/
*.spec

# output
output/

# vscode
.vscode/

# releases
releases/

# some tools
change_ui_to_py.bat

# ui
LalalaScan_ui.ui

# logfile
LalalaScan.log

# plugin demo
plugin/demo.txt

# auto learn dict
data/dict_mult/autoUpdate.txt
data/dir_mult/autoUpdate.txt
data/fuzz_mode_file/autoUpdate.txt